@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap');

html {
  scroll-behavior: smooth;
}


:root {
  --primary-color: #f1f1f1;
  --secondary-color: #ffffff;
  --tertiary-color: #000000;
  --background-color-3: #e6eef9;

  --title-dark: #fff;
  --text-color-2: #000;
  --text-color-3: #777777;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilos para o header e barra de navegação */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: 9999;

  .tabs {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    position: relative;
    padding: 12px 80px;
    border-radius: 99px;
  }

  .tabs * {
    z-index: 2;
  }

  .container input[type="radio"] {
    display: none;
  }

  .tab {
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 140px;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
    transition: 0.50s ease-out;
  }

  .tab:hover {
    color: #822df1;
  }


  .container input[id="radio-1"]:checked~.glider {
    transform: translateX(0);
  }

  .container input[id="radio-2"]:checked~.glider {
    transform: translateX(100%);
  }

  .container input[id="radio-3"]:checked~.glider {
    transform: translateX(200%);
  }

  .container input[id="radio-4"]:checked~.glider {
    transform: translateX(300%);
  }

  .glider {
    position: absolute;
    display: flex;
    height: 35px;
    width: 140px;
    background-color: rgba(137, 97, 245, 0.363);
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
  }


  @media (max-width: 700px) {

    .tabs {
      transform: scale(0.6);
    }
  }
}


/*     
  Panel é o padrão estrutural usado em todas as telas. 
 O site foi organizado em formato de slides, e cada 
 seção funciona como um panel dentro dessa navegação.
*/
.panel {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}




/* Estilização da tela inicial */
.initial {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 150px;
}

@media (max-height: 700px) {
  .initial {
    gap: 10px;
  }
}

/* Estilização do título */
.card-welcome {
  padding: 1rem 2rem;
  border-radius: 1.25rem;
}

.loader-welcome {
  color: hwb(0 49% 51%);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: box;
  display: flexbox;
  display: flex;
  border-radius: 8px;
}

.words-welcome {
  overflow: hidden;
  position: relative;
}

.words-welcome::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(var(--bg-color) 10%,
      transparent 30%,
      transparent 70%,
      var(--bg-color) 90%);
  z-index: 20;
}

.word-welcome {
  display: block;
  height: 100%;
  padding-left: 8px;
  padding-right: 4px;
  color: #956afa;
  animation: anim-welcome 4s infinite;
}

@keyframes anim-welcome {
  10% {
    transform: translateY(-102%);
  }

  25% {
    transform: translateY(-100%);
  }

  35% {
    transform: translateY(-202%);
  }

  50% {
    transform: translateY(-200%);
  }

  60% {
    transform: translateY(-302%);
  }

  75% {
    transform: translateY(-300%);
  }

  85% {
    transform: translateY(-402%);
  }

  100% {
    transform: translateY(-400%);
  }
}



/* Estilização do HELLO WORLD */
.mwg_effect000 .medias1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1vw;
}

.mwg_effect000 .medias1 img {
  width: 5vw;
  height: 5vw;
  object-fit: contain;
  border-radius: 4%;
  display: flex;
  pointer-events: none;
  will-change: transform;
  margin-left: 50px
}

.mwg_effect000 .medias {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1vw;
}

.mwg_effect000 .medias img {
  width: 4vw;
  height: 4vw;
  object-fit: contain;
  border-radius: 4%;
  display: flex;
  pointer-events: none;
  will-change: transform;
}

/* Estilização da seção de apresentação */
.apresentacao {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 0, 0);
  flex-direction: column;
  gap: 250px;
  align-items: center;
  justify-content: center;
  display: flex;
}


/* Estilização da seção de projetos */

.projetos {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  gap: 250px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.rodape {
  width: 100%;
  height: 100vh;
  background-color: #e8e8e8;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.top_footer {
  width: 100%;
  height: 30%;
  background: linear-gradient(#fff, #fff, #e8e8e8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #7c7c7c;
  text-shadow: hsla(0, 0%, 0%, 0.363) 0px 23px 10px;

  @media screen and (max-width: 1068px) {
    p {
      font-size: 14px;
      text-align: center;
      font-weight: 400;
    }
  }
}

.main_footer {
  width: 100%;
  height: 60%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin-bottom: 100px;
  }

  .animation {
    width: 30%;
    height: 100%;
    background-color: #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-contact {
    width: 30%;
    height: 100%;
    background-color: #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;


    .card-contact {
      width: 350px;
      height: 300px;
      border-radius: 30px;
      background: #e0e0e0;
      box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;


      .links {
        width: 100%;
        height: 50%;
        justify-content: center;
        display: flex;
        gap: 20px;
        align-items: center;
        flex-direction: row;


        ul {
          list-style: none;
        }

        .contact-list {
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bolder;
          padding: 20px;
        }

        .contact-list .icon-content {
          margin: 0 10px;
          position: relative;
          font-weight: bolder;
        }

        .contact-list .icon-content .tooltip {
          position: absolute;
          top: -30px;
          left: 50%;
          transform: translateX(-50%);
          background-color: var(--secondary-color);
          color: var(--tertiary-color);
          padding: 6px 10px;
          border-radius: 5px;
          opacity: 0;
          visibility: hidden;
          font-size: 14px;
          transition: all 0.3s ease;
          font-weight: bolder;
        }

        .contact-list .icon-content:hover .tooltip {
          opacity: 1;
          visibility: visible;
          top: -50px;
        }

        .contact-list .icon-content .link {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          color: var(--tertiary-color);
          transition: all 0.3s ease-in-out;
          font-weight: bolder;
        }

        .contact-list .icon-content .link:hover {
          box-shadow: 3px 2px 45px 0px rgba(109, 10, 10, 0.12);
        }

        .contact-list .icon-content .link svg {
          width: 30px;
          height: 30px;
          fill: var(--secondary-color);
          /* White icons */
        }

        .contact-list .icon-content .link[data-social="WhatsApp"]:hover {
          color: #1db954;
        }

        .contact-list .icon-content .link[data-social="Github"]:hover {
          color: #131313;
        }

        .contact-list .icon-content .link[data-social="Gmail"]:hover {
          color: #bd081c;
        }

        .contact-list .icon-content .link[data-social="linkedin"]:hover {
          color: #0088cc;
        }

      }

      .download {
        width: 100%;
        height: 50%;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: poppins, sans-serif;
        font-size: 12px;
        font-weight: 400;
      }

    }
  }
}

.Btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}

.svgIcon {
  fill: rgb(214, 178, 255);
}

.icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid rgb(182, 143, 255);
  border-left: 2px solid rgb(182, 143, 255);
  border-right: 2px solid rgb(182, 143, 255);
}

.Btn:hover {
  background-color: rgb(150, 94, 255);
  transition-duration: .3s;
}


.Btn:hover .svgIcon {
  fill: rgb(255, 255, 255);
  animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.copyright {
  width: 100%;
  height: 10%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: rgb(36, 36, 36);
  display: flex;
  align-items: center;
  justify-content: center;
}